*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 10px 30px;
}

header nav {
}

nav ul {
   
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 0 10px;
}

nav ul li a:hover {
    color: red;
}

nav li a {
    text-decoration: none;
}